
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
src/logs/*
!src/logs/index.html
!src/logs/.htaccess
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess


#docker 
docker-compose.production.yml
docker-compose.development.yml

#NPM modules
**/node_modules

## Composer project
/vendor/

.env


# IDE Files
#-------------------------
/nbproject/
.idea/*
.buildpath
.settings/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project


## Phpunit test for CI3
/tests/tests/
/tests/results/
bin/xdebug-filter.php
.phpunit.result.cache