<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
		 bootstrap="./tests/Bootstrap.php"
		 backupGlobals="true"
		 beStrictAboutChangesToGlobalState="false"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutResourceUsageDuringSmallTests ="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 colors="true">
		 
	<testsuites>
        <testsuite name="unit">
            <directory suffix="test.php">./tests/models/</directory>
			<directory suffix="test.php">./tests/libraries/</directory>
			<directory suffix="test.php">./tests/helpers/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="test.php">./tests/controllers/</directory>
			<directory suffix="test.php">./tests/hooks/</directory>
			<directory suffix="test.php">./tests/mocks/</directory>
			<exclude>tests/_ci_phpunit_test</exclude>
        </testsuite>
	</testsuites>
	<coverage cacheDirectory="src/cache/phpunittest" processUncoveredFiles="true" includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">src/controllers</directory>
			<directory suffix=".php">src/models</directory>
			<directory suffix=".php">src/libraries</directory>
			<directory suffix=".php">src/helpers</directory>
			<directory suffix=".php">src/hooks</directory>
		</include>
		<report>
			<html outputDirectory="build/coverage/html" lowUpperBound="50" highLowerBound="90"/>
			<clover outputFile="build/coverage/clover.xml"/>
			<crap4j outputFile="build/coverage/crap4j.xml" threshold="50"/>
			<xml outputDirectory="build/coverage/xml"/>
		</report>
	</coverage>
	<logging>
		<junit outputFile="build/logs/junit.xml"/>
		<testdoxHtml outputFile="build/logs/testdox.html"/>
		<testdoxXml outputFile="build/logs/testdox.xml"/>
	</logging>
</phpunit>
